---
http_interactions:
- request:
    method: get
    uri: https://airport.api.aero/airport/match/Denver?user_key=8fdd2f669ad0c36eee5dc1d43421fa01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript
    body:
      encoding: UTF-8
      string: callback({"processingDurationMillis":22,"authorisedAPI":true,"success":true,"airline":null,"errorMessage":null,"airports":[{"code":"APA","name":"Centennial","city":"Denver","country":"United
        States","lat":39.570129,"lng":-104.849294,"terminal":null,"gate":null,"timezone":"America/Denver"},{"code":"DEN","name":"Denver
        Intl","city":"Denver","country":"United States","lat":39.861656,"lng":-104.673178,"terminal":null,"gate":null,"timezone":"America/Denver"}]})
  recorded_at: Sat, 08 Aug 2015 13:18:52 GMT
- request:
    method: get
    uri: http://fs-json.demo.vayant.com/?DepartureFrom=2015-08-08&Environment=fast_search_1_0&Origin=DEN&Pass=0da933f3c6e6d8199ed02797b2e7f538e01e4a72&PriceMax=500&Response=json&User=Minnie.lee89@gmail.com&Version=2.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Version":2.7, "Doctype":"FastSearchResponse","Source":"FastSearch",
        "Journeys":[[{"Price":{"Base":{"sum":304.18,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":65.01,"cur":"USD"},"Total":{"sum":369.19,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":138.60,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":21.10,"cur":"USD"},"Total":{"sum":159.70,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":165.58,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":21.10,"cur":"USD"},"Total":{"sum":186.68,"cur":"USD"}},
        "PlatingCarrier":"AA","Flights":[{"id":1,"ocxr":"US","mcxr":"AA","own":"US","rbd":"N","seats":5,"num":"1901","dep":"2015-08-08T16:00:00","arr":"2015-08-08T21:18:00","org":"DEN","dst":"CLT","seg":1,"HiddenStops":{"Count":0,"Location":[]}},{"id":2,"ocxr":"US","mcxr":"AA","own":"US","rbd":"N","seats":4,"num":"1717","dep":"2015-08-08T22:05:00","arr":"2015-08-08T23:56:00","org":"CLT","dst":"FLL","seg":1,"HiddenStops":{"Count":0,"Location":[]}},{"id":3,"ocxr":"US","mcxr":"US","own":"US","rbd":"S","seats":1,"num":"0609","dep":"2015-08-15T14:50:00","arr":"2015-08-15T16:59:00","org":"FLL","dst":"CLT","seg":2,"HiddenStops":{"Count":0,"Location":[]}},{"id":4,"ocxr":"US","mcxr":"US","own":"US","rbd":"S","seats":1,"num":"0447","dep":"2015-08-15T20:25:00","arr":"2015-08-15T21:56:00","org":"CLT","dst":"DEN","seg":2,"HiddenStops":{"Count":0,"Location":[]}}],
        "Fares":[{"FBC":"NA00ZNH5","Carrier":"AA","Cabin":"Economy","Orig":"DEN","Dest":"FLL","PassengerIds":[1],"Flights":[1,2]},{"FBC":"SA07ZNX5","Carrier":"US","Cabin":"Economy","Orig":"FLL","Dest":"DEN","PassengerIds":[1],"Flights":[3,4]}],
        "Passengers":[{"Id":1,"Type":"ADT","Price":{"Base":{"sum":304.18,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":65.01,"cur":"USD"},"Total":{"sum":369.19,"cur":"USD"}}}],
        "TicketingFees":{}}],[{"Price":{"Base":{"sum":304.18,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":65.01,"cur":"USD"},"Total":{"sum":369.19,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":138.60,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":21.10,"cur":"USD"},"Total":{"sum":159.70,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":165.58,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":21.10,"cur":"USD"},"Total":{"sum":186.68,"cur":"USD"}},
        "PlatingCarrier":"US",[...]
