---
http_interactions:
- request:
    method: get
    uri: https://airport.api.aero/airport/match/Denver?user_key=8fdd2f669ad0c36eee5dc1d43421fa01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript
    body:
      encoding: UTF-8
      string: callback({"processingDurationMillis":2,"authorisedAPI":true,"success":true,"airline":null,"errorMessage":null,"airports":[{"code":"APA","name":"Centennial","city":"Denver","country":"United
        States","lat":39.570129,"lng":-104.849294,"terminal":null,"gate":null,"timezone":"America/Denver"},{"code":"DEN","name":"Denver
        Intl","city":"Denver","country":"United States","lat":39.861656,"lng":-104.673178,"terminal":null,"gate":null,"timezone":"America/Denver"}]})
  recorded_at: Fri, 07 Aug 2015 21:31:49 GMT
- request:
    method: get
    uri: http://fs-json.demo.vayant.com/?DepartureFrom=2015-08-07&Environment=fast_search_1_0&Origin=DEN&Pass=0da933f3c6e6d8199ed02797b2e7f538e01e4a72&PriceMax=500&Response=json&User=Minnie.lee89@gmail.com&Version=2.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Version":2.7, "Doctype":"FastSearchResponse","Source":"FastSearch",
        "Journeys":[[{"Price":{"Base":{"sum":427.91,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":67.29,"cur":"USD"},"Total":{"sum":495.20,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":326.51,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":14.10,"cur":"USD"},"Total":{"sum":340.61,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":101.40,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":21.10,"cur":"USD"},"Total":{"sum":122.50,"cur":"USD"}},
        "PlatingCarrier":"UA","Flights":[{"id":1,"ocxr":"S5","mcxr":"UA","own":"S5","rbd":"H","seats":9,"num":"3905","dep":"2015-08-07T19:50:00","arr":"2015-08-08T00:57:00","org":"DEN","dst":"ATL","seg":1,"HiddenStops":{"Count":0,"Location":[]}},{"id":2,"ocxr":"US","mcxr":"AA","own":"US","rbd":"O","seats":7,"num":"0658","dep":"2015-08-21T05:50:00","arr":"2015-08-21T06:57:00","org":"ATL","dst":"CLT","seg":2,"HiddenStops":{"Count":0,"Location":[]}},{"id":3,"ocxr":"US","mcxr":"AA","own":"US","rbd":"O","seats":7,"num":"0428","dep":"2015-08-21T07:34:00","arr":"2015-08-21T09:03:00","org":"CLT","dst":"DEN","seg":2,"HiddenStops":{"Count":0,"Location":[]}}],
        "Fares":[{"FBC":"HAA00AKY","Carrier":"UA","Cabin":"Economy","Orig":"DEN","Dest":"ATL","PassengerIds":[1],"Flights":[1]},{"FBC":"OA00ZNH5","Carrier":"AA","Cabin":"Economy","Orig":"ATL","Dest":"DEN","PassengerIds":[1],"Flights":[2,3]}],
        "Passengers":[{"Id":1,"Type":"ADT","Price":{"Base":{"sum":427.91,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":67.29,"cur":"USD"},"Total":{"sum":495.20,"cur":"USD"}}}],
        "TicketingFees":{}}]]}'
  recorded_at: Fri, 07 Aug 2015 21:31:49 GMT
recorded_with: VCR 2.9.3
