---
http_interactions:
- request:
    method: get
    uri: https://airport.api.aero/airport/match/Denver?user_key=8fdd2f669ad0c36eee5dc1d43421fa01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript
    body:
      encoding: UTF-8
      string: callback({"processingDurationMillis":3,"authorisedAPI":true,"success":true,"airline":null,"errorMessage":null,"airports":[{"code":"APA","name":"Centennial","city":"Denver","country":"United
        States","lat":39.570129,"lng":-104.849294,"terminal":null,"gate":null,"timezone":"America/Denver"},{"code":"DEN","name":"Denver
        Intl","city":"Denver","country":"United States","lat":39.861656,"lng":-104.673178,"terminal":null,"gate":null,"timezone":"America/Denver"}]})
  recorded_at: Thu, 06 Aug 2015 00:27:05 GMT
- request:
    method: get
    uri: http://fs-json.demo.vayant.com/?DepartureFrom=2015-08-06&Environment=fast_search_1_0&Origin=DEN&Pass=0da933f3c6e6d8199ed02797b2e7f538e01e4a72&PriceMax=500&Response=json&User=Minnie.lee89@gmail.com&Version=2.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Version":2.7, "Doctype":"FastSearchResponse","Source":"FastSearch",
        "Journeys":[[{"Price":{"Base":{"sum":379.54,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":73.67,"cur":"USD"},"Total":{"sum":453.21,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":161.86,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":22.60,"cur":"USD"},"Total":{"sum":184.46,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":217.68,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":22.60,"cur":"USD"},"Total":{"sum":240.28,"cur":"USD"}},
        "PlatingCarrier":"DL","Flights":[{"id":1,"ocxr":"DL","mcxr":"DL","own":"DL","rbd":"X","seats":1,"num":"1645","dep":"2015-08-06T13:55:00","arr":"2015-08-06T18:45:00","org":"DEN","dst":"DTW","seg":1,"HiddenStops":{"Count":0,"Location":[]}},{"id":2,"ocxr":"DL","mcxr":"DL","own":"DL","rbd":"X","seats":1,"num":"0021","dep":"2015-08-06T20:10:00","arr":"2015-08-06T23:09:00","org":"DTW","dst":"FLL","seg":1,"HiddenStops":{"Count":0,"Location":[]}},{"id":3,"ocxr":"DL","mcxr":"DL","own":"DL","rbd":"Q","seats":1,"num":"1527","dep":"2015-08-13T18:45:00","arr":"2015-08-13T20:50:00","org":"FLL","dst":"ATL","seg":2,"HiddenStops":{"Count":0,"Location":[]}},{"id":4,"ocxr":"DL","mcxr":"DL","own":"DL","rbd":"Q","seats":1,"num":"2103","dep":"2015-08-13T21:55:00","arr":"2015-08-13T23:14:00","org":"ATL","dst":"DEN","seg":2,"HiddenStops":{"Count":0,"Location":[]}}],
        "Fares":[{"FBC":"XA00A0VD","Carrier":"DL","Cabin":"Economy","Orig":"DEN","Dest":"FLL","PassengerIds":[1],"Flights":[1,2]},{"FBC":"QA07A0UD","Carrier":"DL","Cabin":"Economy","Orig":"FLL","Dest":"DEN","PassengerIds":[1],"Flights":[3,4]}],
        "Passengers":[{"Id":1,"Type":"ADT","Price":{"Base":{"sum":379.54,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":73.67,"cur":"USD"},"Total":{"sum":453.21,"cur":"USD"}}}],
        "TicketingFees":{}}],[{"Price":{"Base":{"sum":422.32,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":59.87,"cur":"USD"},"Total":{"sum":482.19,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":326.51,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":14.10,"cur":"USD"},"Total":{"sum":340.61,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":95.81,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":14.10,"cur":"USD"},"Total":{"sum":109.91,"cur":"USD"}},
        "PlatingCarrier":"UA","[...]
