---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api//forecast/q/CO/Denver.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Error:
      - 'true'
      X-Creationtime:
      - '0.035'
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\": \"keynotfound\"\n\t\t,\"description\":
        \"this key does not exist\"\n\t}\n\t}\n}\n"
  recorded_at: Sat, 01 Aug 2015 01:59:41 GMT
recorded_with: VCR 2.9.3
