---
http_interactions:
- request:
    method: get
    uri: http://fs-json.demo.vayant.com/?DepartureFrom=2015-08-05&Environment=fast_search_1_0&Origin=DEN&Pass=0da933f3c6e6d8199ed02797b2e7f538e01e4a72&PriceMax=1000&Response=json&User=Minnie.lee89@gmail.com&Version=2.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Version":2.7, "Doctype":"FastSearchResponse","Source":"FastSearch",
        "Journeys":[[{"Price":{"Base":{"sum":368.37,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":72.83,"cur":"USD"},"Total":{"sum":441.20,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":229.77,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":22.60,"cur":"USD"},"Total":{"sum":252.37,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":138.60,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":22.60,"cur":"USD"},"Total":{"sum":161.20,"cur":"USD"}},
        "PlatingCarrier":"US","Flights":[{"id":1,"ocxr":"AA","mcxr":"US","own":"AA","rbd":"G","seats":1,"num":"2374","dep":"2015-08-05T09:25:00","arr":"2015-08-05T12:21:00","org":"DEN","dst":"DFW","seg":1,"HiddenStops":{"Count":0,"Location":[]}},{"id":2,"ocxr":"AA","mcxr":"US","own":"AA","rbd":"G","seats":1,"num":"2358","dep":"2015-08-05T13:44:00","arr":"2015-08-05T15:17:00","org":"DFW","dst":"MSY","seg":1,"HiddenStops":{"Count":0,"Location":[]}},{"id":3,"ocxr":"AA","mcxr":"US","own":"AA","rbd":"Q","seats":1,"num":"1594","dep":"2015-08-12T06:15:00","arr":"2015-08-12T07:53:00","org":"MSY","dst":"DFW","seg":2,"HiddenStops":{"Count":0,"Location":[]}},{"id":4,"ocxr":"AA","mcxr":"US","own":"AA","rbd":"Q","seats":1,"num":"1667","dep":"2015-08-12T09:20:00","arr":"2015-08-12T10:26:00","org":"DFW","dst":"DEN","seg":2,"HiddenStops":{"Count":0,"Location":[]}}],
        "Fares":[{"FBC":"GA00ZNG1","Carrier":"US","Cabin":"Economy","Orig":"DEN","Dest":"MSY","PassengerIds":[1],"Flights":[1,2]},{"FBC":"QA07ZNH3","Carrier":"US","Cabin":"Economy","Orig":"MSY","Dest":"DEN","PassengerIds":[1],"Flights":[3,4]}],
        "Passengers":[{"Id":1,"Type":"ADT","Price":{"Base":{"sum":368.37,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":72.83,"cur":"USD"},"Total":{"sum":441.20,"cur":"USD"}}}],
        "TicketingFees":{}}],[{"Price":{"Base":{"sum":368.37,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":72.83,"cur":"USD"},"Total":{"sum":441.20,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":229.77,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":22.60,"cur":"USD"},"Total":{"sum":252.37,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":138.60,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":22.60,"cur":"USD"},"Total":{"sum":161.20,"cur":"USD"}},
        "PlatingCarrier":"US",[...]
