---
http_interactions:
- request:
    method: get
    uri: http://fs-json.demo.vayant.com/?DepartureFrom=2015-08-03&Environment=fast_search_1_0&Origin=DEN&Pass=0da933f3c6e6d8199ed02797b2e7f538e01e4a72&PriceMax=1000&Response=json&User=Minnie.lee89@gmail.com&Version=2.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Version":2.7, "Doctype":"FastSearchResponse","Source":"FastSearch",
        "Journeys":[[{"Price":{"Base":{"sum":292.84,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":50.16,"cur":"USD"},"Total":{"sum":343.00,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":172.00,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":14.10,"cur":"USD"},"Total":{"sum":186.10,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":120.84,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":14.10,"cur":"USD"},"Total":{"sum":134.94,"cur":"USD"}},
        "PlatingCarrier":"F9","Flights":[{"id":1,"ocxr":"F9","mcxr":"F9","own":"F9","rbd":"V","seats":9,"num":"0702","dep":"2015-08-03T12:55:00","arr":"2015-08-03T16:26:00","org":"DEN","dst":"MSY","seg":1,"HiddenStops":{"Count":0,"Location":[]}},{"id":2,"ocxr":"F9","mcxr":"F9","own":"F9","rbd":"D","seats":9,"num":"0705","dep":"2015-08-10T20:40:00","arr":"2015-08-10T22:30:00","org":"MSY","dst":"DEN","seg":2,"HiddenStops":{"Count":0,"Location":[]}}],
        "Fares":[{"FBC":"V00PXS5","Carrier":"F9","Cabin":"Economy","Orig":"DEN","Dest":"MSY","PassengerIds":[1],"Flights":[1]},{"FBC":"D07PXS5","Carrier":"F9","Cabin":"Economy","Orig":"MSY","Dest":"DEN","PassengerIds":[1],"Flights":[2]}],
        "Passengers":[{"Id":1,"Type":"ADT","Price":{"Base":{"sum":292.84,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":50.16,"cur":"USD"},"Total":{"sum":343.00,"cur":"USD"}}}],
        "TicketingFees":{}}],[{"Price":{"Base":{"sum":314.42,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":67.28,"cur":"USD"},"Total":{"sum":381.70,"cur":"USD"}},
        "OutboundPrice":{"Base":{"sum":161.86,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":22.60,"cur":"USD"},"Total":{"sum":184.46,"cur":"USD"}},
        "InboundPrice":{"Base":{"sum":152.56,"cur":"USD"},"Yqyr":{"sum":0.00,"cur":"USD"},"Tax":{"sum":21.10,"cur":"USD"},"Total":{"sum":173.66,"cur":"USD"}},
        "PlatingCarrier":"UA",[...]
