---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/d3241e9db07b49d9/forecast/q/CO/Denver.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.040'
      Last-Modified:
      - Wed, 05 Aug 2015 12:23:15 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"4:58 AM MDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"title\":\"Wednesday\",\n\t\t\"fcttext\":\"Sunshine
        to start, then a few afternoon clouds. A stray thunderstorm is possible. High
        near 95F. Winds S at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Sunshine to
        start, then a few afternoon clouds. A stray thunderstorm is possible. High
        34C. Winds S at 10 to 15 km/h.\",\n\t\t\"pop\":\"20\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"title\":\"Wednesday
        Night\",\n\t\t\"fcttext\":\"A few clouds. A stray thunderstorm is possible.
        Low 64F. Winds SSW at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Partly cloudy
        skies. A stray thunderstorm is possible. Low 18C. Winds SSW at 10 to 15 km/h.\",\n\t\t\"pop\":\"20\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n[...]
