---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/d3241e9db07b49d9/forecast/q/CO/Denver.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.081'
      Last-Modified:
      - Mon, 03 Aug 2015 19:39:02 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"12:14 PM MDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"cloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/cloudy.gif\",\n\t\t\"title\":\"Monday\",\n\t\t\"fcttext\":\"Generally
        cloudy. A stray shower or thunderstorm is possible. High 81F. Winds SE at
        5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Variable clouds with scattered thunderstorms.
        High 27C. Winds SSE at 10 to 15 km/h. Chance of rain 40%.\",\n\t\t\"pop\":\"20\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_chancetstorms\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_chancetstorms.gif\",\n\t\t\"title\":\"Monday
        Night\",\n\t\t\"fcttext\":\"Scattered thunderstorms early, then partly cloudy
        after midnight. Low near 60F. Winds SSW at 5 to 10 mph. Chance of rain 50%.\",\n\t\t\"fcttext_metric\":\"Scattered
        thunderstorms early, then partly cloudy after midnight. Low near 15C. Winds
        SSW at 10 to 15 km/h[...]
