---
http_interactions:
- request:
    method: get
    uri: https://airport.api.aero/airport/match/Los%20Angeles?user_key=8fdd2f669ad0c36eee5dc1d43421fa01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript
    body:
      encoding: UTF-8
      string: callback({"processingDurationMillis":3,"authorisedAPI":true,"success":true,"airline":null,"errorMessage":null,"airports":[{"code":"LAX","name":"Los
        Angeles Intl","city":"Los Angeles","country":"United States","lat":33.942536,"lng":-118.408075,"terminal":null,"gate":null,"timezone":"America/Los_Angeles"}]})
  recorded_at: Wed, 05 Aug 2015 22:58:29 GMT
recorded_with: VCR 2.9.3
