<div class="row">
  <div class="large-12 columns hero">
  <%#= image_tag("beach.jpg") %>

<div class="pull-right">
<div class="row">
  <div class="small-9 columns"></div>
  <div class="small-3 columns"></div>
</div>
  <table class="top-deals">
  <th><h3 class="center-text"> Top Destinations </h3></th>
    <tr>
      <td>New York</td>
      <td>$389</td> 
    </tr>

   <tr>
      <td>Atlanta</td>
      <td>$299</td> 
    </tr>

    <tr>
      <td>Chicago</td>
      <td>$249</td> 
    </tr>

     <tr>
      <td>Seattle</td>
      <td>$219</td> 
    </tr>

    <tr>
      <td>Los Angeles</td>
      <td>$199</td> 
    </tr>
  </table>

</div>

<div class="row app-explanation">

  <h2> Ready for a vacation right now?! Click below and find top five cheapest flights to anywhere but here! </h2>
</div>
<div>
</div>

 <div><button class="button small round"> Begin Adventure Now</button></div> 
  </div>
</div>