<div class="row">
  <div class="large-12 columns hero">
  <%#= image_tag("beach.jpg") %>

<div class="pull-right">
<div class="row">
  <div class="small-9 columns"></div>
  <div class="small-3 columns"></div>
</div>
 <div ui-view></div>

  

</div>

<div class="row app-explanation">

  <h2> Ready for a vacation right now?! Click below and find top five cheapest flights to anywhere but here! </h2>
</div>

<div>
</div>

</div>





