<div class="row">
  <div class="large-12 columns hero"> 

<div class="row app-explanation">
  <h2> Wow! You've chosen a great destination! </h2>

  <div class="small-9 columns"></div>
  <div class="small-1 columns"></div>

  <h3> Weather Forecast for your trip: </h3>
</div>
  <div class="text-white">
    <div>
    <h3> Friday </h3>
    <p> Hi: 86 | Low: 59 </p>
    <%= image_tag 'http://icons.wxug.com/i/c/k/clear.gif' %>
    </div>

    <h3> Saturday </h3>
    <p> Hi: 90 | Low: 55 </p>
    <%= image_tag 'http://icons.wxug.com/i/c/k/partlycloudy.gif' %>

    <h3> Sunday </h3>
    <p> Hi: 89 | Low: 79 </p>
    <%= image_tag 'http://icons.wxug.com/i/c/k/chancetstorms.gif' %>
  </div>


  </div>
</div>

